---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>En constante évolution </h2>
		<p>Passionné d'informatique, je suis constamment en apprentissage, explorant avec enthousiasme tous les domaines de ce vaste univers technologique.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Travail d'équipe</h2>
		<p>J'apprécie collaborer sur des projets informatiques, car cela me offre l'opportunité d'apprendre des autres et d'enrichir mes compétences en échangeant des idées et des connaissances</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Vision 360</h2>
		<p>Doté d'une vision à 360 degrés , je m'efforce d'acquérir une connaissance exhaustive, restant ouvert à tous les concepts et cherchant constamment à élargir mes compétences dans ce domaine diversifié</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
